* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark text for readability */
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #333; /* Black sidebar */
    color: #fff; /* White text */
    transition: transform 0.3s ease;
    transform: translateX(0);
    position: fixed;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    z-index: 10;
}

.sidebar.hide {
    transform: translateX(-250px); /* Hide completely outside view */
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 5px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
/* Main Content Styles */
.main-content {
    flex-grow: 1;
    margin-left: 250px; /* Same as sidebar width */
    transition: margin-left 0.3s ease;
    padding: 10px;
    width: 100%;
}

.main-content.collapsed {
    margin-left: 0;
}

.toggle-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    top: 20px;
    left: 250px;
    z-index: 11;
    transition: left 0.3s ease;
}

.toggle-btn.collapsed {
    left: 0;
}

.toggle-btn:hover {
    background-color: #555; /* Dark gray for hover effect */
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    margin-left: 50px;
}

.content {
    background-color: #fff; /* White content background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.sidebar ul li:hover {
    border: 1px solid black;
    background: black;
}
.active{
    border: 1px solid black;
    background: black;
}