* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color: #020101;
}

body {
    background-position: center;
    background-image: url(chmsubg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: var(--second-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.login_container {
    position: relative;
    backdrop-filter: blur(25px);
    width: 450px;
    border: 2px solid var(--primary-color);
    padding: 7.5em 2.5em 4em 2.5em;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    color: var(--second-color);
}

.login_title {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    width: 140px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    height: 70px;
}

.login_title span {
    color: var(--black-color);
    font-size: 30px;
}

.login_title::before {
    content: "";
    top: 0;
    left: -30px;
    position: absolute;
    border-top-right-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 15px 0 0 0 var(--primary-color);
    background: transparent;
}

.login_title::after {
    content: "";
    top: 0;
    position: absolute;
    border-top-right-radius: 50%;
    width: 30px;
    right: -30px;
    height: 30px;
    box-shadow: -15px 0 0 0 var(--primary-color);
    background: transparent;
}

.input_wrapper {
    position: relative;
    flex-direction: column;
    display: flex;
    margin: 20px 0;
}

.input_field {
    width: 100%;
    font-size: 16px;
    height: 55px;
    color: var(--second-color);
    background: transparent;
    padding-inline: 20px 54px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    transition: 0.2s;
    top: 15px;
    left: 20px;
}

.input_field:focus ~ .label,
.input_field:not(:placeholder-shown) ~ .label {
    position: absolute;
    font-size: 14px;
    top: -10px;
    left: 20px;
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: 30px;
    padding: 0 10px;
}


.icon {
    position: absolute;
    font-size: 20px;
    top: 18px;
    right: 25px;
}

.remember-forgot {
    justify-content: space-between;
    display: flex;
    font-size: 15px;
}

.input-submit {
    background: #fff6f6;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
}

.input-submit:hover {
    background: var(--second-color);
}

.signup {
    text-align: center;
}

.signup a {
    font-weight: 500;
}

@media only screen and (max-width: 564px) {
    .login_container {
        padding: 6em 1em 3em 1em;
        border-radius: 10px;
    }
    .input_field {
        font-size: 14px;
    }
    .login_title span {
        font-size: 24px;
    }
}
